body {
   
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.findID_box {
    border: #517957 solid 3px;
    color: #517957;
    padding: 100px 100px 120px 100px;
    margin-top: 130px;
    width: 350px;
}

.findID_box h1 {
    border-bottom: 6px solid #517957;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    padding: 0px 10px;
    width: 320px;
}

#findID_name,
#findID_email {
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 25px;
    height: 30px;
    margin: 8px 0;
    overflow: hidden;
    padding: 8px 0;
    width: 98%;
}

#findID_btn {
    background-color: #D0A330;
    border: 2px solid silver;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
}

::-webkit-input-placeholder {
    color: grey;
    font-size: 15px;
    padding-left: 10px;
}