header {
	/* border: 1px solid chocolate; */
	justify-content: center;
	width: 90%;
	margin-left: 120px;
	padding-top:10px;	
}

.header_subList {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 0px;
	justify-content: flex-end;
	margin-top:15px;
	padding: 3px 5px;
	font-size:16px;
}

.header_subList li {
	list-style-type: none;
	padding: 0px 10px;
}

.header_subList li a {
	color: black;
	text-decoration: none;
}

.header_subList li a:hover {
	color: #ffcc00;
	text-decoration: none;
}

#header_mainList {
	width: 100%;
	margin-top:25px;
}

#header_mainList.fixed {
	color: black;
	top: 0;
	left: 4;
	justify-content: center;
	position: fixed;
	width: 90%;
	z-index: 1;
}

#header_mainList ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
}

#header_mainList ul li {
	justify-content: space-evenly;
	font-size: 25px;
	list-style-type: none;
	text-decoration: none;
}

#header_mainList ul li a {
	color: black;
	text-decoration: none;
}

#header_mainList ul li a:hover {
	background: linear-gradient(to top, #ffe400 50%, transparent 50%);
	text-decoration: none;
}

.header_logo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top:15px;
}

#logo_img {
	justify-content: space-evenly;
}

h1, h2, h3, h4, h5, p {
	text-align: center;
}


/* HEADER완료 */

/* MYPAGE 시작 */

#change {
    font-size: small;
    letter-spacing: 2px;
    margin-left: 2px;
    color: #d5ecb8;
}

#change a {
    color: #d0a330;
}

#change a:hover {
    color: #709b3c;
}

#ordercheck1 {
    font-size: medium;
    letter-spacing: 2px;
    float: right;
    padding-right: 130px;
}

#ordercheck1 a:hover{
    color:#d0a330;
}

#ordercheck2 {
    font-size: medium;
    letter-spacing: 2px;
    float: right;
    padding-right: 130px;
}

#ordercheck2 a:hover{
    color:#d0a330;
}

.myPage {
    /* border: 1px solid black; */
    color: #222f35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.totalContainer {
    /* border: rgb(218, 98, 154) 1px solid; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    width: 95%;
    height: 100%;
}

/* 왼쪽 컨테이너 안씀 ㅎㅎ*/

.leftContainer {
    /* border: blue 1px solid; */
    color: #222f35;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 8%;
    height: 100vh;
}

.shoppingInfo {
    /* border: red solid 1px; */
    width: 100%;
    margin-bottom: 50px;
}

.shoppingQna {
    margin-bottom: 50px;
}

.memnerInfo {
    /* border: rgb(138, 160, 126) solid 1px; */
    width: 100%;
    margin-bottom: 50px;
}

/* 오른쪽 컨테이너 */

.rightContainer {
    /* border: blue 1px solid; */
    color: #222f35;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    margin-left: 50px;
    width: 80%;
    height: 100vh;
}

/* section1 */

.order_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    letter-spacing: 4px;
    text-align: center;
    padding: 50px auto;
}

.title h1 {
    letter-spacing: 4px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons i {
    font-size: 100px;
    color: #517957;
}

ul li {
    display: inline-block;
}

/* 최근주문정보 */

.orderInfo {
    border-bottom: 1px solid black;
    padding: 50px auto;
}

.orderInfoTitle {
    border-top: 1px solid black;
    border-bottom: 1px dotted grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

#ordercheck1 {
	padding-right : 10px;
}

/* 최근등록게시글 */

.latestPost {
    border-bottom: 1px solid black;
    padding: 50px auto;
    
}

.latestPost > h2 {
	padding-left : 0px;
}

.latestPostTitle {
    border-top: 1px solid black;
    border-bottom: 1px dotted grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

/* 컨테이너 공통 */

h1 {
    color: #222f35;
    letter-spacing: 20px;
}

h2 {
    letter-spacing: 4px;
    padding-left: 100px;
}

ul {
    padding-left: 0px;
}

ul li i {
    letter-spacing: 4px;
    list-style: none;
    padding: 20px 140px;
}

p {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

/* MYPAGE 완료 */

/* FOOTER */

footer {
    margin-top: 50px;
    padding: 0 20px 0 20px;
}

.footerAll {
    display: inline-block;
    width: 19.5%;
    height: 250px;
}

.footerAll ul {
    padding-left: 0px;
}

.footerAll ul li {
    color: grey;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.footerAll ul li a {
    color: grey;
    text-decoration: none;
}

.footerAll ul li a:hover {
    color: #ffcc00;
    text-decoration: none;
}

.footerAll i {
    padding: 10px 10px;
}

#footerLast {
    color: grey;
    text-align: center;
}