/*================== popUp css============================ */
body{
	padding: 30px;
}

.divContainer {
	width: 400px;
	height: 80px;
	margin: 0;
}

#titleBox {
	width: 100%;
}

.share_box{
	width: 400px;
	height: 80px;
	box-sizing: border-box;
	display: flex;
	flex-flow: row;
	margin: 0 auto;
	
	
}

.share_input {
	width: 300px;
	height: 30px;

}

h4 {
	margin:5px; padding: 0;
}

.copyBtn {
	width: 50px;
	height: 35px;
    text-align: center;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #6F9F77;
    color: white;
    box-sizing: border-box;
    border: 1px solid black;
}
/*================== popUp css============================ */